// colors
$color-primary: #ffd166;
$color-secondary: #eeeeee;
$color-background: #ffffff;

$text-main: #000000;
$text-caption: #787878;

// fonts
$body-font-family: "Nunito", sans-serif;
$heading-font-family: "Nunito", sans-serif;

//fonts size
$text-title-desktop: 28px;
$text-title-mobile: 24px;
$text-base-desktop: 16px;
$text-base-mobile: 14px;
$text-caption-desktop: 12px;
$text-caption-mobile: 10px;